<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Character Creator</title>
</head>
<body>
<h1 th:text="${title}">Character Creator</h1>
<nav th:replace="fragments :: navigation" ></nav>
<form method="post" th:object="${form}" action="character/add-trait">
    <div class="form-group">
        <label th:for="traitId">Trait</label>
        <select name = "traitId">
            <option th:each="trait : *{trait}"
                    th:text="${trait.name}"
                    th:value="${trait.traitId}"></option>
        </select>
    </div>
    <input type="hidden" name="characterId" th:value="*{characterCreate.characterId}"/>
    <input type="submit" value="Add Trait" />

</form>

</body>
</html>