<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Character Creator</title>
</head>
<body>
<h1>Welcome to Character Creator</h1>
<h2>What do you want to do?</h2>
<div><h3><a th:href="@{/character/characters-view}">Show All Characters</a></h3></div>
<div><h3><a th:href="@{/elements/charclasses/allclasses}">Show All Classes</a></h3></div>
<div><h3><a th:href="@{/elements/equipment/allequipment}">Show All Equipment</a></h3></div>
<div><h3><a th:href="@{/elements/proficiency/allprof}">Show All Proficiencies</a></h3></div>
<div><h3><a th:href="@{/elements/race/allrace}">Show All Races</a></h3></div>
<div><h3><a th:href="@{/elements/spell/allspell}">Show All Spells</a></h3></div>
<div><h3><a th:href="@{/elements/trait/alltrait}">Show All Traits</a></h3></div>

</body>
</html>