<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Character Creator</title>
</head>
<body>
<div th:align="center">
    <h1>Edit Equipment</h1>
    <br/>
    <form action="#" th:action="@{/saveEquip}" th:object="${equipmentSave}" method="post">
        <table>
            <tr>
                <td>Id</td>
                <td><label>
                    <input type="text" th:field="*{equId}" readonly = readonly>
                </label></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><label>
                    <input type="text" th:field="*{name}">
                </label></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><label>
                    <input type="text" th:field="*{description}">
                </label></td>
            </tr>
            <tr>
                <td>Weapon Category</td>
                <td><label>
                    <input type="text" th:field="*{weaponcategory}">
                </label></td>
            </tr>
            <tr>
                <td>Weapon Range</td>
                <td><label>
                    <input type="number" th:field="*{weaponrange}">
                </label></td>
            </tr>
            <tr>
                <td>Damage</td>
                <td><label>
                    <input type="number" th:field="*{damage}">
                </label></td>
            </tr>
            <tr>
                <td>Weight</td>
                <td><label>
                    <input type="number" th:field="*{weight}">
                </label></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Edit</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>