<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Character Creator</title>
</head>
<body>
<div th:align="center">
    <h1>Create new Equipment</h1>
    <br/>
    <form action="#" th:action="@{/saveEquip}" th:object="${equipmentSave}" method="post">
        <table th:align="center">
            <tr>
                <td>Name</td>
                <td><label>
                    <div><input type="text" th:field="*{name}"></div>
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="item fieldinvalid">Name Errors</div>
                </label></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><label>
                    <input type="text" th:field="*{description}">
                </label></td>
            </tr>
            <tr>
                <td>Weapon Category</td>
                <td><label>
                    <div><input type="text" th:field="*{weaponcategory}"></div>
                    <div th:if="${#fields.hasErrors('weaponcategory')}" th:errors="*{weaponcategory}" class="item fieldinvalid">Name Errors</div>
                </label></td>
            </tr>
            <tr>
                <td>Weapon Range</td>
                <td><label>
                    <div> <input type="number" th:field="*{weaponrange}"></div>
                    <div th:if="${#fields.hasErrors('weaponrange')}" th:errors="*{weaponrange}" class="item fieldinvalid">Name Errors</div>

                </label></td>
            </tr>
            <tr>
                <td>Damage</td>
                <td><label>
                    <div> <input type="number" th:field="*{damage}"></div>
                    <div th:if="${#fields.hasErrors('damage')}" th:errors="*{damage}" class="item fieldinvalid">Name Errors</div>

                </label></td>
            </tr>
            <tr>
                <td>Weight</td>
                <td><label>
                    <div><input type="number" th:field="*{weight}"></div>
                    <div th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}" class="item fieldinvalid">Name Errors</div>
                </label></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>